*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background: #262a2f;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.container{
    background: whitesmoke;
    height: 35vh;
    width: 28vw;
    border-radius: 12px;
    margin-top: 35vh;
}
.container p{
    font-size: 18px;
    font-weight: 700;
    text-align: start;
    padding: 30px 0 0 40px;
}
.ip-box{
    font-size: 15px;
    text-align: start;
    height: 6vh;
    width: 23vw;
    border-radius: 3px;
    margin: 30px 0 0 5px;
    border: 0.5px solid gray;
    padding-left: 5px;
}
.btn{
    background-color: blue;
    height: 6vh;
    width: 23vw;
    border-radius: 3px;
    border: none;
    color: white;
    font-size: 13px;
    font-weight: 700;
    margin-top: 35px;
}